.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.cache/

logs/
airflow/logs/
airflow_home/logs/

data/eurocontrol/
data/raw/
data/processed/
data/*.parquet
data/*.xlsx
data/*.joblib

!data/
!data/airports.csv

models/*.joblib
models/*.pkl
!models/
!models/.gitkeep

notebooks/
tests/

.DS_Store
Thumbs.db