
## Aviationstack API

TOKEN_AVIATIONSTACK=''

API_URL_AVIATIONSTACK_FLIGHTS="https://api.aviationstack.com/v1/flights"

API_URL_AVIATIONSTACK_ROUTES="https://api.aviationstack.com/v1/routes"

API_URL_AVIATIONSTACK_AIRPORTS="https://api.aviationstack.com/v1/airports"

API_URL_AVIATIONSTACK_AIRLINES="https://api.aviationstack.com/v1/airlines"

API_URL_AVIATIONSTACK_TIMETABLE="https://api.aviationstack.com/v1/timetable"  #flight schedules




## Weatherstack API

TOKEN_WEATHERSTACK=''

API_URL_WEATHERSTACK_CURRENT="https://api.weatherstack.com/current"

API_URL_WEATHERSTACK_FORECAST="https://api.weatherstack.com/forecast"

API_URL_WEATHERSTACK_HISTORICAL="https://api.weatherstack.com/historical"



## Positionstack API

TOKEN_POSITIONSTACK=''

API_URL_POSITIONSTACK_FORWARD="https://api.positionstack.com/v1/forward"

API_URL_POSITIONSTACK_REVERSE="https://api.positionstack.com/v1/reverse"




ENCRYPTION_KEY='key_default'

MONGODB_DB=dst_airlines
MONGODB_COLLECTION_FLIGHTS=flights
MONGODB_COLLECTION_AIRLINES=airlines
MONGODB_COLLECTION_AIRPORTS=airports

#docker
MONGODB_URI="mongodb://root:passwd@mongodb:27017/?authSource=admin"
